@model ProjectManager.Web.ViewModels.ProjectIndexViewModel

@{ 
    ViewData["Title"] = "Project Page";
}

<div class="card shadow">

    <h4 class="card-title" style="margin-left:1.25rem; margin-top:1.25rem;">
        <strong>@ViewData["Title"]</strong>
    </h4>

    <div class="card-body">
        <div>
            <a class="btn btn-outline-primary" asp-action="CreateProject">Add Project</a>
        </div>
        <hr />
        <table class="table">
            <thead>
                <tr class="col-12">
                    <th class="text-left col-10">Name</th>
                    <th class="text-right col-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.Projects)
                {
                    <tr>
                        <td><a class="text-dark" asp-action="ProjectDetails" asp-route-id="@project.Id">@project.Name</a></td>
                        <td class="text-right">
                            <a class="btn btn-outline-info" asp-action="EditProject" asp-route-id="@project.Id">Edit</a>
                            <a class="btn btn-outline-danger" asp-action="DeleteProject" asp-route-id="@project.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>