@model ProjectManager.Web.ViewModels.ProjectDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Project.Name}";
}



<div class="card shadow">

    @*<h4 class="card-title" style="margin-left:1.25rem; margin-top:1.25rem;">
            <strong>@ViewData["Title"]</strong>
        </h4>*@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow shadow mb-3">
        <div class="container">
            <!---Add the project logo in here-->
            <a class="navbar-brand">
                @*<img src="~/img/logo1.png" alt="logo icon">*@
                <i class="bi bi-layout-three-columns"></i>
                @ViewData["Title"]
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link text-dark" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                    <a class="nav-item nav-link text-dark active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">List</a>
                    <a class="nav-item nav-link text-dark" id="board-tab" data-toggle="tab" href="#board" role="tab" aria-controls="board" aria-selected="false">Board</a>
                </div>
                <ul class="nav justify-content-end float-right">
                    <li class="nav-item">
                        <div class="btn-group dropdown">
                            <button id="open" data-toggle="modal" data-target="#addTaskmodal" class="btn btn-outline-primary">
                                Add Task
                            </button>
                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <button id="open" data-toggle="modal" data-target="#addSectionmodal" class="dropdown-item">
                                    Add Section
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <div class="card-body">
                <p>@Model.Project.Name</p>
            </div>
        </div>
        <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
            <div class="card-body">
                <partial name="_TasksListPartial" model="Model.Project.Sections" />
            </div>
        </div>

        <div class="tab-pane fade" id="board" role="tabpanel" aria-labelledby="board-tab">
            <div class="card-body">
                <partial name="_TaskBoardPartial" model="Model.Project.Sections" />
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="addTaskmodal">
        <div class="modal-dialog" role="document">
            <form class="modal-content" method="post" asp-controller="Task" asp-action="AddTask" asp-route-id="@Model.Project.Id" role="form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title text-left">New Task</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="modal-body form-type-combine">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="TaskCreateViewModel.Name" class="require"></label>
                                <input type="text" class="form-control" asp-for="TaskCreateViewModel.Name" required>
                                <span asp-validation-for="TaskCreateViewModel.Name" class="text-danger invalid-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TaskCreateViewModel.DueDate" class="require"></label>
                                <input type="datetime-local" class="form-control" asp-for="TaskCreateViewModel.DueDate" required>
                                <span asp-validation-for="TaskCreateViewModel.DueDate" class="text-danger invalid-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TaskCreateViewModel.Description" class=""></label>
                                <textarea type="text" class="form-control" asp-for="TaskCreateViewModel.Description"></textarea>
                                <span asp-validation-for="TaskCreateViewModel.Description" class="text-danger invalid-feedback"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TaskCreateViewModel.Assigne"></label>
                                <select asp-for="TaskCreateViewModel.Assigne" asp-items="@Model.TaskCreateViewModel.TeamMembers">
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="TaskCreateViewModel.Section"></label>
                                <select asp-for="TaskCreateViewModel.Section" asp-items="@Model.TaskCreateViewModel.Sections">
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="TaskCreateViewModel.BoardSection"></label>
                                <select asp-for="TaskCreateViewModel.BoardSection" asp-items="@Model.TaskCreateViewModel.BoardSections">
                                </select>
                            </div>
                            <input asp-for="TaskCreateViewModel.ProjectId" hidden />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="deletemodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="deletemodaltitle" class="modal-title text-left">Delete Task</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong class="text-danger">Are you sure you want to this item?</strong>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <a id="deleteConfirmationSubmit" href="~/" class="btn btn-outline-danger">Delete</a>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="addSectionmodal">
        <div class="modal-dialog" role="document">
            <form class="modal-content" method="post" asp-controller="Section" asp-action="AddSection" asp-route-id="@Model.Project.Id" role="form" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title text-left">New Section</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="modal-body form-type-combine">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="SectionCreateViewModel.Name" class="require"></label>
                                <input type="text" class="form-control" asp-for="SectionCreateViewModel.Name" required>
                                <span asp-validation-for="SectionCreateViewModel.Name" class="text-danger invalid-feedback"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
    
    <div class="modal fade" tabindex="-1" role="dialog" id="deleteSectionmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-left">Delete Section</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <strong class="text-danger">Are you sure you want to delete this section?</strong>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <a id="deleteConfirmationSubmit" href="~/" class="btn btn-outline-danger">Delete</a>

                </div>

            </div>
        </div>
    </div>




</div>

@section Scripts{
<script type="text/javascript">
    $('.nav-tabs a').on('show.bs.tab', function (e) {
        const target = e.target.id;

        //get pane and modify its 
        //const targetpane = e.target.attributes.getNamedItem('href').value;
        //const targetpaneId = targetpane.substring(1);
        //const pane = document.getElementById(targetpaneId);
        //pane.innerHTML = 'nothing';
        //console.log(pane);
        if (target == 'list-tab') {
            window.location.reload();
        }
    });
</script>

}
